@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: cadetblue;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: chocolate;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16);
  width: 400px;
  height: 600px;
  text-align: center;
  font-family: "Otomanopee One", sans-serif;
}
h1 {
  margin: 12px 0;
}
.add-elements {
  margin: 12px 0;
}
input {
  padding: 6px 4px;
  width: 70%;
}
button {
  padding: 7px 14px;
  background-color: cadetblue;
  border: none;
  border-radius: 4px;
  color: black;
  font-weight: bold;
}
.element-list {
  height: 550px;
}
ul {
  padding: 15px;
}
li {
  list-style: none;
  padding: 10px 5px;
  background-color: #fff;
  margin: 12px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
  border-radius: 3px;
  transition: 0.4s;
}
button:hover {
  background-color: black;
  color: cadetblue;
}

li:hover {
  background-color: cadetblue;
}

.checked {
  text-decoration: line-through;
  background-color: cadetblue;
}
